.App {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);

}

.App-card {
  height: fit-content;
  position: relative;
  display: inline-block;
}

.card-title {
  position: absolute;    
  top: 4%;           
  right: 2.1rem;
  font-size: 150%;
  font-weight: bolder;
  color: indigo;
}

.card-title2 {
  position: absolute;    
  top: 9.5%;           
  right: 5.5rem;
  font-size: 120%;
  font-weight: 500;
  color: indigo;
}

.card-title3 {
  position: absolute;    
  top: 13.5%;           
  right: 6.7rem;
  font-size: 270%;
  font-weight: 700;
  color: indigo;
  
}

.cardValue {
  position: absolute;
  left: 80%;
  top: 22%;
  font-weight: 500;

}

#card{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
